<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8" />
    <title><%= 'site.title'.t %> - <%= 'site.description'.t %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js' %>
    <%= javascript_include_tag 'http://webintents.org/webintents.js' %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <%= viewport_meta_tag %>
    <%= apple_app_capable_meta_tag %>
    <%= apple_app_icon_link_tag %>
    <intent
      action="http://openid.net/connect/webintents"
      type="application/json"
      href="/.well-known/openid-configuration"
    ></intent>
  </head>
  <%= content_tag :body, class: controller_name do %>
    <%= yield :top %>
    <%= render 'layouts/header' %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= yield :bottom %>
  <% end %>
</html>
