<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8" />
    <title><%= 'site.title'.t %> - <%= 'site.description'.t %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js' %>
    <%= javascript_include_tag 'http://webintents.org/webintents.js' %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <%= viewport_meta_tag %>
    <%= apple_app_capable_meta_tag %>
    <%= apple_app_icon_link_tag %>
    <%= content_tag(:intent, nil,
      action: "http://openid.net/connect/discovery/simple-web-discovery",
      type: "application/json",
      href: discovery_path('simple-web-discovery', service: 'http://openid.net/specs/connect/1.0/issuer')
    ) %>
    <%= content_tag(:intent, nil,
      action: "http://openid.net/connect/discovery/openid-configuration",
      type: "application/json",
      href: discovery_path('openid-configuration')
    ) %>
  </head>
  <%= content_tag :body, class: controller_name do %>
    <%= yield :top %>
    <%= render 'layouts/header' %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= yield :bottom %>
  <% end %>
</html>
