<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8" />
    <title><%= 'site.title'.t %> - <%= 'site.description'.t %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'http://webintents.org/webintents.js' %>
  </head>
  <%= content_tag :body, class: controller_name do %>
    <%= render 'layouts/header' %>
    <div class="main">
      <%= yield %>
    </div>
  <% end %>
</html>
